<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Градиентный фон</title>
<style>
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(228, 144, 158), rgb(255, 208, 0));
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 94, 48);
    font-family: sans-serif;
  }
</style>
</head>
<body>
    <h1>Hello, {{ name }}</h1>
</body>
</html>