<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Градиентный фон{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    {% block nav %}
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <!-- Добавьте дополнительные пункты меню по мере необходимости -->
        </ul>
    </nav>
    {% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>