<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Градиентный фон{% endblock %}</title>
<style>
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(228, 144, 158), rgb(255, 208, 0));
    background-size: cover;
    height: 100vh;
    display: flex;
    color: rgb(10, 74, 94);
    font-family: sans-serif;
    font-weight: bold;
  }
</style>
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/courses/">Курсы</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>